/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Fenwick Olden';
  src: url("../assets/fonts/fenwick_olden.otf"); }
@-webkit-keyframes name-fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-9px) translateY(0);
    transform: rotate(-9px) translateY(0); } }
@keyframes name-fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-9px) translateY(0);
    transform: rotate(-9px) translateY(0); } }
@-webkit-keyframes menu-fadein {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes menu-fadein {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
::selection {
  color: #fff;
  background: #d90429; }

::-moz-selection {
  color: #fff;
  background: #d90429; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 7.5px; }

body {
  display: grid;
  grid-template-columns: [full-start] 1em [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 1em [full-end];
  grid-auto-rows: minmax(100vh, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2;
  font-size: 2rem;
  font-family: "Maven Pro";
  color: #2b2d42; }

h2, h3, p {
  font-size: 1.5rem; }

p {
  margin-bottom: 2rem; }

.header {
  grid-column: container;
  justify-self: center;
  -ms-flex-item-align: start;
  align-self: start;
  margin-top: 4vh;
  font-size: 5rem;
  font-family: "Fenwick Olden";
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg); }

.section {
  grid-column: container; }

.bg {
  grid-column: full;
  background: #2b2d42;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  z-index: -1; }

.name {
  grid-column: container;
  grid-row: 1;
  line-height: 1;
  font-size: 7rem;
  font-family: "Fenwick Olden";
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
  margin-bottom: 7.5rem;
  text-align: center;
  -webkit-animation: name-fadein 600ms;
  animation: name-fadein 600ms; }

.about {
  grid-row: 2;
  color: #fff; }
  .about-header {
    grid-row: 2;
    color: #fff; }
  .about-bg {
    grid-row: 2; }
  .about a,
  .about a:active,
  .about a:visited {
    color: #fff; }

.experience {
  grid-row: 3;
  margin: 20rem 0 10rem; }
  .experience-header {
    grid-row: 3; }
  .experience .category {
    text-align: center;
    font-size: 3rem;
    color: #8d99ae;
    margin-bottom: 2rem;
    position: relative; }
  .experience .card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-bottom: 3rem;
    position: relative;
    height: 7rem; }
    .experience .card:last-child {
      margin-bottom: 6rem; }
    .experience .card .title {
      grid-row: 1;
      grid-column: 1; }
    .experience .card .organization {
      grid-row: 2;
      grid-column: 1; }
    .experience .card .date {
      grid-row: 1;
      grid-column: 2;
      justify-self: end; }
    .experience .card .location {
      grid-row: 2;
      grid-column: 2;
      justify-self: end; }
    .experience .card a,
    .experience .card a:active,
    .experience .card a:visited {
      color: #2b2d42; }

.contact {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: menu-fadein 400ms 700ms forwards;
  animation: menu-fadein 400ms 700ms forwards; }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contact-list::before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      background: #d90429;
      z-index: -1;
      opacity: 0.7; }
  .contact-link {
    font-size: 3rem;
    color: #fff; }
    .contact-link:hover .fa {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .contact-icon {
    -webkit-transition: 100ms all ease-in-out;
    -o-transition: 100ms all ease-in-out;
    transition: 100ms all ease-in-out; }

@media screen and (min-width: 360px) {
  h2 {
    font-size: 2rem; }

  h3, p {
    font-size: 1.75rem; } }
@media screen and (min-width: 480px) {
  html {
    font-size: 8px; } }
@media screen and (min-width: 768px) {
  body {
    line-height: 1.5;
    grid-template-columns: [full-start] minmax(1em, 10%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 10% [full-end]; }

  h2 {
    font-size: 2.5rem; }

  h3, p {
    font-size: 2rem; }

  .name {
    font-size: 15rem; }

  .header {
    grid-column: 1;
    font-size: 10rem;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

  .section {
    grid-column: main; }

  .experience {
    margin-bottom: 20rem; }

  .contact {
    width: 215px;
    height: 215px;
    left: auto;
    right: 0;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .contact-list {
      display: grid;
      grid-template-columns: 5rem 5rem;
      grid-template-rows: 5rem 5rem;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff; }
      .contact-list::before {
        left: 4rem;
        -webkit-transform: skewX(-40deg);
        -ms-transform: skewX(-40deg);
        transform: skewX(-40deg);
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform-origin: bottom right; } }
@media screen and (min-width: 1100px) {
  html {
    font-size: 9px; }

  body {
    grid-template-columns: [full-start] minmax(1em, 15%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 15% [full-end]; } }
@media screen and (min-width: 1400px) {
  html {
    font-size: 10px; } }

/*# sourceMappingURL=styles.css.map */
