/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Fenwick Olden';
  src: url("../assets/fonts/fenwick_olden.otf"); }
* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  line-height: 1.5;
  font-size: 2rem;
  font-family: "Maven Pro";
  color: #2b2d42;
  display: grid;
  grid-template-columns: [full-start] minmax(1em, 15%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 15% [full-end];
  grid-auto-rows: minmax(100vh, auto);
  align-items: center; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

p {
  margin-bottom: 2rem; }

.name {
  grid-column: container;
  grid-row: 1;
  line-height: 1;
  font-size: 15rem;
  font-family: "Fenwick Olden";
  transform: rotate(-9deg);
  margin-bottom: 7.5rem;
  text-align: center; }

.header {
  grid-column: 1;
  font-size: 10rem;
  writing-mode: sideways-lr;
  font-family: "Fenwick Olden";
  justify-self: center; }

.section {
  grid-column: main; }

.bg {
  grid-column: full;
  background: #2b2d42;
  align-self: stretch;
  z-index: -1; }

.about {
  grid-row: 2;
  color: #fff; }
  .about-header {
    grid-row: 2;
    color: #fff; }
  .about-bg {
    grid-row: 2; }

.experience {
  grid-row: 3;
  margin: 20rem 0; }
  .experience-header {
    grid-row: 3; }
  .experience .category {
    text-align: center;
    font-size: 3rem;
    color: #8d99ae;
    margin-bottom: 2rem;
    position: relative; }
  .experience .card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    align-items: end;
    margin-bottom: 4rem;
    position: relative;
    height: 70px; }
    .experience .card-list {
      margin-bottom: 2rem; }
    .experience .card .title {
      grid-row: 1;
      grid-column: 1; }
    .experience .card .company {
      grid-row: 2;
      grid-column: 1; }
    .experience .card .date {
      grid-row: 1;
      grid-column: 2;
      justify-self: end; }
    .experience .card .location {
      grid-row: 2;
      grid-column: 2;
      justify-self: end; }

.contact {
  position: fixed;
  width: 215px;
  height: 215px;
  font-size: 3rem;
  bottom: 0;
  right: 0;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1; }
  .contact-list {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    justify-items: center;
    align-items: center;
    background-clip: text;
    color: #fff; }
    .contact-list::before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 40px;
      position: absolute;
      background: #d90429;
      transform: skewX(-40deg);
      transform-origin: bottom right;
      z-index: -1;
      opacity: 0.7; }
  .contact-link {
    color: #fff; }
    .contact-link:hover .fa {
      transform: scale(1.1); }
  .contact-icon {
    transition: 100ms all ease-in-out; }

/*# sourceMappingURL=styles.css.map */
