// =================
// COLORS
// =================

$blue: #2b2d42;
$red: #ef233c;
$dark-red: #d90429;
$dark-gray: #8d99ae;
$light-gray: #edf2f4;
$white: #fff;


// =================
// TYPOGRAPHY
// =================

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@font-face {
  font-family: 'Fenwick Olden';
  src: url('../assets/fonts/fenwick_olden.otf');
}

$display-font: 'Fenwick Olden';
$body-copy: 'Maven Pro';