@import 'reset';
@import 'variables';
@import 'mixins';

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	line-height: 1.5;
	font-size: 2rem;
	font-family: $body-copy;
	color: $blue;
	display: grid;
	grid-template-columns: [full-start] minmax(1em, 15%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 15% [full-end];
	grid-auto-rows: minmax(100vh, auto);
	align-items: center;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p {
	margin-bottom: 2rem;
}

.name {
	grid-column: container;
	grid-row: 1;
	line-height: 1;
	font-size: 15rem;
	font-family: $display-font;
	transform: rotate(-9deg);
	margin-bottom: 7.5rem;
	text-align: center;
}

.header {
	grid-column: 1;
	font-size: 10rem;
	writing-mode: sideways-lr;
	font-family: $display-font;
	justify-self: center;
}

.section {
	grid-column: main;
}

.bg {
	grid-column: full;
	background: $blue;
	align-self: stretch;
	z-index: -1;
}

.about {
	grid-row: 2;
	color: $white;

	&-header {
		grid-row: 2;
		color: $white;
	}

	&-bg {
		grid-row: 2;
	}
}

.experience {
	grid-row: 3;
	margin: 20rem 0;

	&-header {
		grid-row: 3;
	}
	
	.category {
		text-align: center;
		font-size: 3rem;
		color: $dark-gray;
		margin-bottom: 2rem;
		position: relative;

		// &::after {
		// 	content: "";
		// 	width: 100%;
		// 	border-bottom: 1px solid $light-gray;
		// 	position: absolute;
		// 	top: 100%;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
	}

	.card {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 50% 50%;
		align-items: end;
		margin-bottom: 4rem;
		position: relative;
		height: 70px;

		&-list {
			margin-bottom: 2rem;
		}

		.title {
			grid-row: 1;
			grid-column: 1;
		}

		.company {
			grid-row: 2;
			grid-column: 1;
		}

		.date {
			grid-row: 1;
			grid-column: 2;
			justify-self: end;
		}

		.location {
			grid-row: 2;
			grid-column: 2;
			justify-self: end;
		}
	}
}

.contact {
	position: fixed;
	width: 215px;
	height: 215px;
	font-size: 3rem;
	bottom: 0;
	right: 0;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 1;

	&-list {
		display: grid;
		grid-template-columns: 50px 50px;
		grid-template-rows: 50px 50px;
		justify-items: center;
		align-items: center;
		background-clip: text;
		color: $white;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 40px;
			position: absolute;
			background: $dark-red;
			transform: skewX(-40deg);
			transform-origin: bottom right;
			z-index: -1;
			opacity: 0.7;
		}
	}

	&-link {
		color: $white;
		
		&:hover .fa {
			transform: scale(1.1);
		}
	}

	&-icon {
		transition: 100ms all ease-in-out;
	}
}