@import 'reset';
@import 'variables';
@import 'mixins';

* {
	box-sizing: border-box;
}

html {
	font-size: 7.5px;
}

body {
	line-height: 2;
	font-size: 2rem;
	font-family: $body-copy;
	color: $blue;
	display: grid;
	grid-template-columns: [full-start] 1em [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 1em [full-end];
	grid-auto-rows: minmax(100vh, auto);
	align-items: center;
}

h2, h3, p {
	font-size: 1.5rem;
}

p {
	margin-bottom: 2rem;
}

.name {
	grid-column: container;
	grid-row: 1;
	line-height: 1;
	font-size: 7rem;
	font-family: $display-font;
	transform: rotate(-9deg);
	margin-bottom: 7.5rem;
	text-align: center;
}

.header {
	grid-column: container;
	justify-self: center;
	align-self: start;
	margin-top: 4vh;
	font-size: 5rem;
	font-family: $display-font;
	transform: rotate(-9deg);
}

.section {
	grid-column: container;
}

.bg {
	grid-column: full;
	background: $blue;
	align-self: stretch;
	z-index: -1;
}

.about {
	grid-row: 2;
	color: $white;

	&-header {
		grid-row: 2;
		color: $white;
	}

	&-bg {
		grid-row: 2;
	}

	a,
	a:active,
	a:visited {
		color: $white;
	}
}

.experience {
	grid-row: 3;
	margin: 20rem 0 10rem;

	&-header {
		grid-row: 3;
	}
	
	.category {
		text-align: center;
		font-size: 3rem;
		color: $dark-gray;
		margin-bottom: 2rem;
		position: relative;
	}

	.card {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 50% 50%;
		align-items: end;
		margin-bottom: 3rem;
		position: relative;
		height: 7rem;

		&:last-child {
			margin-bottom: 6rem;
		}

		.title {
			grid-row: 1;
			grid-column: 1;
		}

		.organization {
			grid-row: 2;
			grid-column: 1;
		}

		.date {
			grid-row: 1;
			grid-column: 2;
			justify-self: end;
		}

		.location {
			grid-row: 2;
			grid-column: 2;
			justify-self: end;
		}

		a,
		a:active,
		a:visited {
			color: $blue;
		}
	}
}

.contact {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;

	&-list {
		display: flex;
		justify-content: space-around;
		align-items: center;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			position: absolute;
			background: $dark-red;
			z-index: -1;
			opacity: 0.7;
		}
	}

	&-link {
		font-size: 3rem;
		color: $white;
		
		&:hover .fa {
			transform: scale(1.1);
		}
	}

	&-icon {
		transition: 100ms all ease-in-out;
	}
}





@media screen and (min-width: 360px) {

	h2 {
		font-size: 2rem;
	}
	
	h3, p {
		font-size: 1.75rem;
	}
}


@media screen and (min-width: 480px) {

	html {
		font-size: 8px;
	}

	body {
		min-height: 600px;
	}

}

@media screen and (min-width: 768px) {

	body {
		line-height: 1.5;
		grid-template-columns: [full-start] minmax(1em, 10%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 10% [full-end];
	}

	h2 {
		font-size: 2.5rem;
	}

	h3, p {
		font-size: 2rem;
	}

	.name {
		font-size: 15rem;
	}

	.header {
		grid-column: 1;
		font-size: 10rem;
		writing-mode: sideways-lr;
		align-self: center;
		transform: rotate(0);
	}

	.section {
		grid-column: main;
	}

	.experience {
		margin-bottom: 20rem;
	}

	.contact {
		width: 215px;
		height: 215px;
		left: auto;
		right: 0;
		justify-self: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;

		&-list {
			display: grid;
			grid-template-columns: 5rem 5rem;
			grid-template-rows: 5rem 5rem;
			justify-items: center;
			align-items: center;
			color: $white;

			&::before {
				left: 4rem;
				transform: skewX(-40deg);
				transform-origin: bottom right;
			}
		}
	}
}

@media screen and (min-width: 1100px) {
	
	html {
		font-size: 9px;
	}

	body {
		line-height: 1.5;
		grid-template-columns: [full-start] minmax(1em, 15%) [container-start] 1fr [main-start] repeat(4, 1fr) [main-end] 1fr [container-end] 15% [full-end];
	}

}

@media screen and (min-width: 1400px) {
	
	html {
		font-size: 10px;
	}

}